
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
    background-color: inherit;
    border: none;
}

.category {
    background-color: var(--inner);
    color: inherit;
    border: none;
    font-size: small;
    padding: 30px;
    border-radius: 30px;
    transition: 0.5s;
}

.category:hover {
    transform: translateY(-10px);
    background-color: var(--hover);
    cursor: pointer;
}